* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

body {
  /* background-color: orangered; */
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  /* color: red; */
}

/* Misconception: this won't work! */
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA */

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  /* color: red; */
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* nav a:link,
nav p {
  font-size: 18px;
} */

/* *FLOATS  */

/* * what i want now is put author text side by side with image but rember that the p element is block-level element so it always occupy all space around them so it can't like normalway 
* we can use display property to consvert this element to inline-block and manipulate with this
! but now we will use new way is use float
*/

/* * this layout here is very small with two element author-img and author text so it's very very small component layout right here */
.author-img {
  /* display: inline-block;
  * now we will use float
  * we have many value for float property and mainly we can use left, right or none */
  float: left;
  /* * now what is going to happen is that image is basically going to be taken outof the documents flow just like an absolutely positioned element
  * now the different here with float is that then all the other elements will basically float round it*/
  /* * and so let add some space with bottom element
  * and it really working
  * and with that we can see that floated element is still able to create some margins aroundit*/
  margin-bottom: 20px;
}

.author {
  /* * when we apply float, we use padding and it's not working why? no it is working but because now it's behind image when we set padding 10px but if we set bigger than image width it'll work like 100px */
  /* padding-left: 100px; */
  /* padding-top: 10px; */
  /* * perfect margin for space between element padding in this case only for test some thing */
  margin-top: 10px;
  /* * and now we will fix this error and do p element take a start in right of image not behind the image * we will also set fot it float property*/
  /* float: left; */
  /* * and float: left is set element to left side of parent container element
  * and if we set float:right it'll set element to right side of parent container element */
  /* float: right; */
  float: left;
  /* ! keep in mind that if we set space between elements we need to use margin not padding
  ! padding is use for create some spaces inside element, but when you use padding you can see some siuation it looks like margin but keep in mind that use margin for space between element */
  margin-left: 30px;
}
/*  * so now let test some thing interesting 
* we will use  float to float h1 element to left and nav element to right
! but it's really working good but we have some interesting*/
h1 {
  float: left;
}

nav {
  float: right;
}
